<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="CapaDatos.Properties.Settings.Cn" connectionString="&#xA;             
        Data Source=localhost\SQLSERVER2012;&#xA;             
        Initial Catalog=GD1C2017;&#xA;             
        Persist Security Info=True;&#xA;             
        User ID=gd;&#xA;             
        Password=gd2017"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>